html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent img, #mainContent div {
    position: absolute; }

.hide {
  opacity: 0; }

#bieberBg {
  top: 0px;
  left: -13px; }

#bieber {
  top: 0px;
  left: 97px; }

#bieberBgBlur {
  top: 0px;
  left: -13px; }

#bieberBlur {
  top: -140px;
  left: 47px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

#copyOne, #logo, #doodle {
  top: -1px;
  left: -1px; }

#cta {
  top: 163px;
  left: 64px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.drop, .drop1 {
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background-image: url("../img/drop.png");
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: rotate(180deg) rotateY(0);
  transform: rotate(180deg) rotateY(0);
  border: 1px thin #000000; }

.drop1 {
  background-image: url("../img/drop1.png"); }

#bgSparks {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sparkle {
  top: 110px;
  left: 185px;
  width: 14px;
  height: 8px;
  background-color: #ffffeb;
  border-color: #ffffeb;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.8);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.8); }

.sparkle:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 4px solid;
  border-color: inherit;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -4px; }

.sparkle:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -4px;
  border-top: 4px solid;
  border-color: inherit;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px; }
